.file-container {
    width: 600px;
    border: 4px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file{
    opacity: 0;
    padding: 5rem;
    width: auto;
    height: 5rem;   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}