<h1>JSON2CSV</h1>
<hr>
 <main>
   <div class="file-container" *ngIf="!file">
      <h3 class="text-input">Arrastre su archivo JSON</h3>
     <input type="file" (change)="getFile($event)" class="file"/>
   </div>
   
   <div class="file-container" *ngIf="file">
     <h3> {{ file.name }} </h3>
     <button (click)="deleteFiles()"> Eliminar archivo </button>
   </div> <br />

   <ul>
     <li *ngFor="let key of keysOfCSVToHtml">
      {{key}}
     </li>
   </ul>
   
   <button (click)="export()"> Exportar </button>

 </main>